.entry {
  display: grid;
  grid: auto-flow / 1fr auto;
  align-items: baseline;
  box-sizing: border-box;
  place-self: stretch;
}

.error {
  font-size: 0.8em;
  white-space: pre-wrap;
  background-color: var(--error-background-color);
  color: var(--error-color);
  padding: 0.5em;
}

.controls {
  justify-self: end;
  align-self: start;
  position: sticky;
  top: 0;
}

.output, .error, .derivation {
  grid-column: span 2;
}

.output::before {
  content: '=>';
  color: gray;
  margin-right: 0.25em;
}
