.normal {
  counter-reset: step;
  background-color: #254525AA;
  color: white;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
  z-index: -1;
  display: grid;
  grid: auto-flow / 1fr 3fr 3fr 6fr;
  /* gap: 0.5em; */
  column-gap: 0.5em;
}

.visible {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.inputs {
  justify-self: end;
}

.inputs > :not(:last-child)::after {
  content: ', '
}

.output::before {
  content: ' => '
}

.step {
  justify-self: end;
}

.step::before {
  counter-increment: step;
  content: counter(step) ')';
}

.action::before {
  content: '-- '
}

.step, .output::before, .action::before, .inputs > :not(:last-child)::after {
  color: rgba(255,255,255, 55%);
}
