@import-normalize;

html, body, #root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --key-background-color: #558888;
    --key-color: black;
    --key-mode-background-color: #447777;
    --key-hover-color: darkorange;
    --key-hover-background-color: var(--key-mode-background-color);
    --key-activate-color: rgba(126, 252, 0, 0.76);
    --key-toggled-color: skyblue;
    --key-mode-shift-color: hsl(200, 80%, 20%);
    --key-mode-shift-background-color: hsla(200, 80%, 80%, 55%);
    --key-mode-shift-hover-color: hsl(200, 80%, 30%);
    --key-mode-shift-hover-background-color: hsla(200, 80%, 80%, 75%);
    --key-mode-alpha-color: hsl(135, 80%, 20%);
    --key-mode-alpha-background-color: hsla(135, 80%, 80%, 55%);
    --key-mode-alpha-hover-color: hsl(135, 80%, 30%);
    --key-mode-alpha-hover-background-color: hsla(135, 80%, 80%, 75%);
    --key-mode-trig-color: hsl(0, 80%, 20%);
    --key-mode-trig-background-color: hsla(0, 80%, 80%, 55%);
    --key-mode-trig-hover-color: hsl(0, 80%, 30%);
    --key-mode-trig-hover-background-color: hsla(0, 80%, 80%, 75%);
    --terminal-background-color: hsla(0, 0%, 50%, 35%);
    --terminal-color: inherit;
  }
  body { background: #0a2832; color: #cacaca; }
}

@media (prefers-color-scheme: light) {
  :root {
    --key-background-color: #779999;
    --key-color: whitesmoke;
    --key-mode-background-color: #668888;
    --key-hover-color: orange;
    --key-hover-background-color: var(--key-mode-background-color);
    --key-activate-color: lawngreen;
    --key-toggled-color: lightskyblue;
    --key-mode-shift-color: hsl(200, 30%, 80%);
    --key-mode-shift-background-color: hsla(200, 30%, 30%, 75%);
    --key-mode-shift-hover-color: hsl(200, 90%, 80%);
    --key-mode-shift-hover-background-color: hsla(200, 20%, 30%, 75%);
    --key-mode-alpha-color: hsl(135, 30%, 80%);
    --key-mode-alpha-background-color: hsla(135, 30%, 30%, 75%);
    --key-mode-alpha-hover-color: hsl(135, 90%, 80%);
    --key-mode-alpha-hover-background-color: hsla(135, 20%, 30%, 75%);
    --key-mode-trig-color: hsl(0, 30%, 80%);
    --key-mode-trig-background-color: hsla(0, 30%, 30%, 75%);
    --key-mode-trig-hover-color: hsl(0, 90%, 80%);
    --key-mode-trig-hover-background-color: hsla(0, 20%, 30%, 75%);
    --terminal-background-color: hsla(0, 0%, 75%, 45%);
    --terminal-color: black;
  }
}
