.keypad {
  display: grid;
  grid: auto-flow auto / repeat(3, auto);
  place-content: center;
  place-self: center;
  gap: 0.5em;
}

@media (orientation: portrait) {
  .keypad {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (orientation: landscape) {
  .keypad {
    margin-right: 1em;
    margin-left: 2em;
  }
}
