.keypad {
  display: grid;
  /* grid: auto-flow auto / repeat(5, auto); */
  /* grid-template-areas:
    "control functional arithmetic"
    "control numeric    arithmetic"; */
  grid-template-areas:
    "trig       var   diff    ans    delete"
    "logic      abs   .       comb   fact"
    "alt        comma open    close  square"
    "shift      lb    ln      lg     raise"
    "constant   seven eight   nine   divide"
    "alphaMega  four  five    six    multiply"
    "alphaMinor one   two     three  subtract"
    "execute    zero  decimal assign add";
  place-content: center;
  place-self: center;
  gap: 0.5em;
}

@media (orientation: portrait) {
  .keypad {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (orientation: landscape) {
  .keypad {
    margin-right: 1em;
    margin-left: 2em;
  }
}
