@keyframes flash {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 0.9;
  }
}

.normal {
  align-self: end;
  overflow: scroll;
  font-family: 'Fira Code', monospace;
  font-size: 1.2em;
  line-height: 1.5;
  height: 100%;
  padding: 0.5em;
  background-color: var(--terminal-background-color);
  color: var(--terminal-color);
  display: grid;
  grid: auto-flow / auto 1fr;
  gap: 0.5em;
  align-items: baseline;
  align-content: start;
  counter-reset: terminal-entries;
  box-sizing: border-box;
}

.markerTrack {
  align-self: stretch;
  justify-self: end;
}

.marker {
  color: var(--terminal-color);
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0.45em 0;
}

.marker::before {
  counter-increment: terminal-entries;
  content: counter(terminal-entries);
}

.reference {
  grid-column: span 2;
  height: 0;
  user-select: none;
}

.currentMarker {
  justify-self: end;
  color: gray;
}

.currentMarker::before {
  content: '\03bb.'
}

.caret {
  font-variant-ligatures: no-common-ligatures;
  animation: 1s linear infinite alternate-reverse flash;
}
