.normal {
  position: relative;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  border: 0.2em solid var(--background-color);
  border-radius: 0.9em 0.9em 1.15em 1.15em;
  background-color: var(--color);
  width: 3.4em;
  padding: 0.2em;
  cursor: pointer;
  z-index: 0;
}

.normal, .normal > .primary {
  transition: 200ms ease-in;
  transition-property: box-shadow, background-color, color;
}

.normal:hover {
  z-index: 1;
  --color: orange;
  --background-color: hsl(0, 10%, 25%);
  box-shadow: 0 0 2em var(--color);
}

.normal:hover > .primary {
  box-shadow: inset 0 0 0.25em var(--color);
}

.normal.activated, .normal:active {
  --color: lawngreen;
}

.primary {
  padding: 0;
  margin: 0;
  height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--color);
  border: none;
  border-radius: 0.5em 0.5em 0.75em 0.75em;
}

.default {
  --background-color: gray;
  --color: whitesmoke;
}

.shift {
  --background-color: gray;
  --color: hsl(180, 75%, 50%);
}

.shift:hover {
  --color: hsl(180, 75%, 75%);
}

.alpha {
  --background-color: gray;
  --color: hsl(90, 75%, 50%);
}

.alpha:hover {
  --color: hsl(90, 75%, 75%);
}