.error {
  font-size: 0.8em;
  white-space: pre-wrap;
  background-color: var(--error-background-color);
  color: var(--error-color);
  /* border: 0.25em solid var(--fore-color);
  border-radius: 0.25em; */
  padding: 0.5em;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.result > .output, .result > .output > span:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.result > .output > span:first-child {
  margin-left: -1.7em;
  margin-right: 0.5em;
  color: gray;
}

.result > .entryControls {
  margin-right: 1em;
}

.result > .entryControls > button {
  cursor: pointer;
  background: #AAAE;
  color: black;
  border: 0;
  padding: 0.1em;
  transition: all 0.2s ease-in-out;
}

.result > .entryControls > button:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.result > .entryControls > button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.result > .entryControls > button:hover {
  background: var(--key-hover-color);
}

.result > .entryControls > button:active {
  background: var(--key-activate-color);
}
