.normal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.normal > nav {
  margin-right: 1em;
}

.normal > nav a {
  font-size: 1.75em;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.normal > nav a:hover {
  color: var(--key-hover-color);
}

.normal > nav a:active {
  color: var(--key-activate-color);
}
