---
---

@import "{{ site.theme }}";
@import "root";

body {
  display: grid;
  grid: auto 1fr / auto 1fr;
}

body > header {
  grid-column: 1 / span 2;
}

body > aside {
  padding-left: 2em;
}

@import "key";
