.normal {
  align-self: end;
  overflow: scroll;
  font-family: 'Fira Code', monospace;
  font-size: 1.2em;
  line-height: 1.5;
  height: 100%;
  padding-left: 1em;
  background-color: var(--terminal-background-color);
  color: var(--terminal-color);
}

.history > li::marker {
  color: gray;
}

.history > li:not(:last-child) {
  margin-bottom: 0.25em;
}

.history > li:last-child {
  list-style-type: '\03bb. '
}
