.terminal {
  align-self: end;
  overflow: scroll;
  font-family: 'Fira Code', monospace;
  font-size: 1.2em;
  line-height: 1.5;
  max-height: 100%;
  min-height: 0;
}

.terminal > li:last-child {
  list-style-type: '\03bb. '
}

.error {
  --fore-color: hsl(0, 60%, 25%);
  font-size: 0.8em;
  white-space: pre-wrap;
  background-color: hsl(0, 60%, 75%);
  color: var(--fore-color);
  border: 0.25em solid var(--fore-color);
  border-radius: 0.25em;
  padding: 0.5em;
}

.result, .result span {
  display: flex;
  flex-wrap: wrap;
}

.result > span:first-child {
  margin-right: 0.5em;
}
