.calculator {
  display: grid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.calculator > header, .calculator > footer {
  background-color: darkslategray;
  color: whitesmoke;
  font-size: clamp(1rem, 3vmin, 1.5rem);
  min-height: 1em;
}

.calculator > header {
  padding-left: 1em;
}

.calculator > header > h1 {
  padding: 0.25em 0;
  margin: 0;
}

@media(orientation: portrait) {
  .calculator {
    grid: auto 3fr 1fr fit-content(40%) auto / 1fr;
  }

  .calculator > header {
    grid-row: 1;
  }

  .calculator > footer {
    grid-row: -1;
  }

  .calculator > :last-child {
    grid-row: 4;
  }
}

@media(orientation: landscape) {
  .calculator {
    grid: auto 3fr 1fr auto / 1fr auto;
  }

  .calculator > header {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .calculator > footer {
    grid-row: -1;
    grid-column: 1 / span 2;
  }

  .calculator > :last-child {
    grid-row: 2 / span 2;
    grid-column: 2;
  }
}
