.keypad {
  display: grid;
  place-content: center;
  place-self: center;
  gap: 0.5em;
}

@media (orientation: portrait) {
  .keypad {
    margin-top: 1em;
    margin-bottom: 1em;
    grid-template-areas:
      "trig    logic shift   alt    constant alphaMega alphaMinor delete"
      "var     seven eight   nine   divide   comma     open       close"
      ".       four  five    six    multiply lb        ln         lg"
      "ans     one   two     three  subtract square    raise      fact"
      "execute zero  decimal assign add      abs       comb       diff";
  }
}

@media (orientation: landscape) {
  .keypad {
    margin-right: 1em;
    margin-left: 2em;
    grid-template-areas:
      "trig       var   diff    ans    delete"
      "logic      abs   .       comb   fact"
      "shift      comma open    close  square"
      "alt        lb    ln      lg     raise"
      "constant   seven eight   nine   divide"
      "alphaMega  four  five    six    multiply"
      "alphaMinor one   two     three  subtract"
      "execute    zero  decimal assign add";
  }
}
