.matter.light {
  --grouping: darkslategray;
  --variable: darkgoldenrod;
  --constant: darkcyan;
  --nan: darksalmon;
}

.matter.dark {
  --grouping: lightgrey;
  --variable: lightgoldenrodyellow;
  --constant: lightcyan;
  --nan: lightsalmon;
}

.matter .grouping {
  color: var(--grouping);
}

.matter .variable {
  color: var(--variable);
}

.matter .constant {
  color: var(--constant);
}

.matter .operator {
  font-size: larger;
  margin: 0 0.1em;
}

.matter .operator.small {
  font-size: medium;
  font-size: bold;
}

.matter .icon {
  font-size: 1.75em;
  font-weight: 900;
  margin: 0 0.1em;
  vertical-align: -5%;
  line-height: 1;
}

.matter .nan {
  color: var(--nan);
}

.matter .function {
  font-style: italic;
}