.matter.light {
  --grouping: darkslategray;
  --variable: darkgoldenrod;
  --constant: darkcyan;
  --nan: darksalmon;
}

.matter.dark {
  --grouping: lightgrey;
  --variable: lightgoldenrodyellow;
  --constant: lightcyan;
  --nan: lightsalmon;
}

.matter .grouping {
  color: var(--grouping);
}

.matter .variable {
  color: var(--variable);
}

.matter .constant {
  color: var(--constant);
}

.matter .binaryOp {
  font-weight: bold;
  font-size: larger;
}

.matter .nan {
  color: var(--nan);
}

.matter .function {
  font-style: italic;
}