.normal {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  font-family: 'Fira Code', monospace;
  font-size: clamp(1rem, 3.25vmin, 1.5rem);
  border: 0.2em solid var(--key-background-color);
  border-radius: 0.9em 0.9em 1.15em 1.15em;
  background-color: var(--key-color);
  padding: 0.2em;
  cursor: pointer;
  display: inline-grid;
  grid-template-areas: 'toggleKey';
  place-items: center;
  user-select: none;
}

@media(orientation: landscape) {
  .normal {
    font-size: clamp(0.5rem, 3.25vmin, 1.5rem);
  }
}

.normal, .normal > [type=checkbox] ~ * {
  transition: 200ms ease-in;
  transition-property: box-shadow, background-color, color;
}

.normal:hover, .normal:focus, .normal.toggled {
  z-index: 1;
  box-shadow: 0 0 2em var(--key-color);
}

.normal:hover > [type=checkbox] ~ *, .normal > :checked ~ * {
  box-shadow: inset 0 0 0.25em var(--key-color);
}

.normal > [type=checkbox] {
  opacity: 0;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.normal > * {
  grid-area: toggleKey;
}

.normal > [type=checkbox] ~ * {
  padding: 0;
  margin: 0;
  width: 2.6em;
  height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--key-background-color);
  color: var(--key-color);
  border: none;
  border-radius: 0.5em 0.5em 0.75em 0.75em;
  box-sizing: border-box;
}

.normal:hover, .normal:focus {
  --key-color: var(--key-hover-color);
  --key-background-color: var(--key-hover-background-color);
}

.normal.activated, .normal:active {
  --key-color: var(--key-activate-color);
}

.toggled {
  --key-color: var(--key-toggled-color);
}
