@import-normalize;

html {
  height: -webkit-fill-available;
}

body, #root {
  width: 100vw;
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

body {
  background-color: darkslategray;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --site-background-color: darkslategray;
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --calculator-background-color: hsla(170, 10%, 10%, 35%);
    --key-background-color: hsl(180, 23%, 43%);
    --key-color: black;
    --key-mode-background-color: #447777;
    --key-hover-color: darkorange;
    --key-hover-background-color: var(--key-mode-background-color);
    --key-activate-color: rgba(126, 252, 0, 0.76);
    --key-toggled-color: skyblue;
    --key-mode-shift-color: var(--key-color);
    --key-mode-shift-background-color: hsl(200, 23%, 43%);
    --key-mode-alpha-color: var(--key-color);
    --key-mode-alpha-background-color: hsl(135, 23%, 43%);
    --key-mode-trig-color: var(--key-color);
    --key-mode-trig-background-color: hsl(0, 23%, 43%);
    --key-mode-alt-color: var(--key-color);
    --key-mode-alt-background-color: hsl(20, 23%, 43%);
    --key-mode-logic-color: var(--key-color);
    --key-mode-logic-background-color: hsl(75, 23%, 43%);
    --key-mode-constant-color: var(--key-color);
    --key-mode-constant-background-color: hsl(300, 23%, 43%);
    --toggle-key-background-color: hsl(35, 23%, 43%);
    --terminal-background-color: hsla(0, 0%, 0%, 20%);
    --terminal-color: inherit;

    --entry-input-background-color: hsl(0, 0%, 40%);
    --entry-input-color: var(--terminal-color);
    --entry-unknown-background-color: hsl(0, 0%, 40%);
    --entry-unknown-color: var(--terminal-color);
    --entry-valid-background-color: hsl(135, 60%, 25%);
    --entry-valid-color: hsl(135, 60%, 85%);
    --entry-error-background-color: hsl(0, 60%, 25%);
    --entry-error-color: hsl(0, 60%, 85%);

    --error-color: hsl(0, 60%, 85%);
    --error-background-color: hsla(0, 60%, 25%, 45%);
    --curve-color: skyblue;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --calculator-background-color: hsla(170, 10%, 95%, 90%);
    --key-background-color: hsl(180, 14%, 53%);
    --key-color: whitesmoke;
    --key-mode-background-color: #668888;
    --key-hover-color: orange;
    --key-hover-background-color: var(--key-mode-background-color);
    --key-activate-color: lawngreen;
    --key-toggled-color: lightskyblue;
    --key-mode-shift-color: var(--key-color);
    --key-mode-shift-background-color: hsl(200, 14%, 53%);
    --key-mode-alpha-color: var(--key-color);
    --key-mode-alpha-background-color: hsl(135, 14%, 53%);
    --key-mode-trig-color: var(--key-color);
    --key-mode-trig-background-color: hsl(0, 14%, 53%);
    --key-mode-alt-color: var(--key-color);
    --key-mode-alt-background-color: hsl(20, 14%, 53%);
    --key-mode-logic-color: var(--key-color);
    --key-mode-logic-background-color: hsl(75, 14%, 53%);
    --key-mode-constant-color: var(--key-color);
    --key-mode-constant-background-color: hsl(300, 14%, 53%);
    --toggle-key-background-color: hsl(35, 14%, 53%);
    --terminal-background-color: hsla(0, 0%, 75%, 45%);
    --terminal-color: black;
    --entry-input-background-color: var(--key-color);
    --entry-input-color: var(--terminal-color);
    --entry-unknown-background-color: hsl(0, 0%, 55%);
    --entry-unknown-color: whitesmoke;
    --entry-valid-background-color: hsl(135, 60%, 65%);
    --entry-valid-color: hsl(135, 60%, 25%);
    --entry-error-background-color: hsl(0, 60%, 75%);
    --entry-error-color: hsl(0, 60%, 25%);
    --error-color: hsl(0, 60%, 25%);
    --error-background-color: hsl(0, 60%, 75%);  
    --curve-color: black;
  }
}
